- title "Purchasing transactions for #{@position.asset.name}"

= render :partial => 'transactions/index'

%ul
  %li= link_to "Back to the position summary", position_path(@position)                                                                            
  %li= link_to "New Purchase", new_position_purchase_path(@position)
  