- title "Purchase Transactions"

= render :partial => 'transactions/index'

%p= link_to "New Purchase", new_position_purchase_path(@position)
                                                                            