- title "Selling transactions for #{@position.asset.name}"

= render :partial => 'transactions/index'

%p= link_to "New Sale", new_position_sale_path(@position)
                                                                            