- title "Selling transactions for #{@position.asset.name}"

= render :partial => 'transactions/index'

%ul
  %li= link_to "Back to the position summary", position_path(@position)                  
  %li= link_to "New Sale", new_position_sale_path(@position)
